@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/**** Music Player LHS  ****/
.player_lhs {
    position: fixed;
    height: 100vh;
    background-color: #F4F4F4;
    padding: 0px;
}

.logo_div {
    height: $top_div_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid #B9B9B9;

    #logo {
        color: #EE5044;
        font-weight: 700;
        font-size: 28px;
        font-family: montserrat;
        margin-bottom: 0px;
        span {
            color: #000000;
        }
    }

    .menu_icon {
        cursor: pointer;
        line-height: 0px;
        i{
            font-size: 34px;
        }
    }
}

.menu_div {
    padding: 30px 0px;
    border-bottom: 1px solid #B9B9B9;
    .menu_element {
        display: flex;
        align-items: center;
        //justify-content: center;
        padding: 20px 15px;
        padding-left: 40px;

        a {
            font-weight: 700;
            text-decoration: none;
            color: #333;
            font-size: 15px;
            margin-left: 10px;
        }
    }
}

.playlist_div {
    padding: 15px 0px;
    .playlist_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #666;
            margin-bottom: 0px;
        }

        i {
            cursor: pointer;
        }
    }

    .playlist_element {
        padding: 10px 15px;
        padding-left: 40px;

        a {
            font-weight: 400;
            text-decoration: none;
            color: #000;
            font-size: 14px;
        }
    }
}
/**** Music Player LHS  ****/

/**** Music Player RHS  ****/
.player_rhs {
    background-color: #fff;
    height: 100vh;
    padding: 0px;
}

/*** RHS TOP  ***/
.rhs_top {
    height: $top_div_height;
    border-bottom: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    .search_div {
        position: relative;
        .search_icon {
            position: absolute;
            top: 15px;
            left: 15px;
        }
    
        #music_search {
            background-color: #EBEBEB;
            border: none;
            padding: 15px 30px 15px 50px;
            width: 350px;
            border-radius: 50px;
            outline: none;
    
            @include media-breakpoint-down(md) {
                width: 250px;
                padding: 15px 20px 12px 45px;
            }
        }
    }
    
    .user_div {
        
        $user_image_width: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .user_image_container {
            width: $user_image_width + 5px;
            height: $user_image_width + 5px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #C1C1C1;
    
            
            @include media-breakpoint-down(md) {
                width: $user_image_width - 10px;
                height: $user_image_width - 10px;
            }
    
            img {
                border-radius: 100px;
                width: $user_image_width;
                height: $user_image_width;
               
    
                @include media-breakpoint-down(md) {
                    width: $user_image_width - 15px;
                    height: $user_image_width - 15px;
                }
            }
        }
    
        .user_name_container {
            font-size: 14px;
            font-weight: 600;
            font-family: "open sans";
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
}
/*** RHS TOP  ***/

/*** RHS BOTTOM ***/
.rhs_bottom {
    background-color: #FBFBFB;
    height: $rhs_bottom_height;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;

    .rhs_bottom_album_art_div {
        min-width: $album_art_bottom_width;
        height: 100%;
        background-color: #333;
        max-width: $album_art_bottom_width;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            width: 190px;
        }
    }
    
    .rhs_bottom_rhs {
        width: 100%;
    
        /* Start of progress bar */
        .progress_bar {
            height: 5px;
            background-color: #EBEBEB;
            //background-color: #EE5044;
            width: 100%;
        
            .live_progress {
                width: 300px;
                height: 5px;
                background-color: #EE5044;
            }
        }
        /* Start of progress bar */

        /* Start of player controls */
        .player_controls {
            height: calc(120px - 5px);
            display: flex;
            align-items: center;
            justify-content: center;

            .play_button {
                background-color: #EE5044;
                width: 60px;
                height: 60px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                i {
                    font-size: 35px;
                    color: #fff;
                }
            }

            &>div {
                color: #EE5044;
                font-size: 35px;
                margin: 0px 20px;
                cursor: pointer;

                @include media-breakpoint-down(md) {
                    font-size: 30px;
                }

                &.loop_button {
                    margin-right: 50px;

                    @include media-breakpoint-down(md) {
                        margin-right: 25px;
                    }
                }

                &.volume_button {
                    margin-left: 50px;

                    @include media-breakpoint-down(md) {
                        margin-right: 25px;
                    }
                }
            }
        }
        /* End of player controls */
        
        /* Start of Song Name Div  */
        .song_artist_time_container {
            height: 115px;
            position: absolute;
            top: 5px;
            display: flex;
            //align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 10px;

            #song_name {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            #artist_name {
                font-size: 12px;
                margin-bottom: 0px;
            }

            #song_time {
                font-size: 13px;
            }

            & > div {
                margin-left: 10px;
            }
        }
        /* Start of Song Name Div  */
    }
}
/*** RHS BOTTOM ***/


/**** Music Player RHS  ****/
