@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans" !important;
}

input {
    font-family: "open sans" !important;
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/**** Music Player LHS  ****/
.player_lhs {
    position: fixed;
    height: 100vh;
    background-color: #F4F4F4;
    padding: 0px;
}

.logo_div {
    height: $top_div_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid #B9B9B9;

    #logo {
        color: #EE5044;
        font-weight: 700;
        font-size: 28px;
        font-family: montserrat;
        margin-bottom: 0px;
        span {
            color: #000000;
        }
    }

    .menu_icon {
        cursor: pointer;
        line-height: 0px;
        i{
            font-size: 34px;
        }
    }
}
/**** Music Player LHS  ****/

/**** Music Player RHS  ****/
.player_rhs {
    background-color: #fff;
    height: 100vh;
    padding: 0px;
}

.rhs_top {
    height: $top_div_height;
    border-bottom: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.search_div {
    position: relative;
    .search_icon {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    #music_search {
        background-color: #EBEBEB;
        border: none;
        padding: 15px 30px 15px 50px;
        width: 350px;
        border-radius: 50px;
        outline: none;
    }
}

.user_div {
    
    .user_image_container {
        width: 65px;
        height: 65px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #C1C1C1;
        img {
            border-radius: 100px;
            width: 60px;
            height: 60px;
        }
    }
}
/**** Music Player RHS  ****/
